doctype html
html
  head
    title #{__('__home')}
    script(src="/jquery.min.js")
    script(src="/js/bootstrap.min.js")
    script(src="/moment.min.js")
    link(rel="stylesheet", href="/css/bootstrap.min.css")
    link(rel="stylesheet", href="/plugin/fontawesome/css/all.min.css")
    link(rel='stylesheet', href='/stylesheets/style.css')
    script(src="/vue.js")
    script(src="/axios.min.js")
    meta(name="viewport", content="width=device-width, initial-scale=1, maximum-scale=1")
    script(src="/js/common/common.min.js")
    style.
      [v-cloak] { display:none !important; }
  body
    include navbar.pug
    include overlay.pug
    include cart.pug
    div(class="container-fluid", style="padding-top: 56px;")
      include message.pug
      block content
  footer
    include footer.pug
