extends common/layout

block content
  .row.app(v-cloak)
    .product-card(v-for="item,index in products")
      .card
        img.card-img-top(:src='item.link', alt="..", @click="viewDetail(index)", style="cursor:pointer")
        .card-body(@click="viewDetail(index)", style="cursor:pointer")
          h5.card-title.hidden-text-single {{item.name}}
          p.card-text {{item.startDate | timeFormat(item.endDate)}}
          .form-row
            .col-6
              p.card-text.text-right.text-price(v-if="item.price!=item.onSale") {{item.price | commaFormat}}
            .col-6
              p.card-text.text-right.text-onSale {{item.onSale | commaFormat}} 
        .card-footer(v-show="maintain")
          .col.text-center
            button.btn.btn-success(type="button", @click="updateCard(index)") {{$t('__html.btn.update')}}
            button.btn.btn-danger(type="button", @click="deleteCard(index)") {{$t('__html.btn.delete')}}
  script(src="/js/index.min.js")