extends common/layout

block content
  .row.app.justify-content-md-center(v-cloak)
    form.login(v-on:keyup.enter="login")
      .form-group(:class="{error: validation.hasError('userId')}")
        label.col.col-form-label {{$t('__html.user.userId')}}
        .col
          input(type="text", class="form-control", v-model="userId", v-focus)
        .message.col {{ validation.firstError('userId') }}
      .form-group(:class="{error: validation.hasError('password')}")
        label.col.col-form-label {{$t('__html.user.password')}}
        .col
          input(type="password", class="form-control", v-model="password")
        .message.col {{ validation.firstError('password') }}
      .form-group
        .col
          button(type="button", class="btn btn-info btn-block", @click="login") {{$t('__html.btn.login')}}
      .form-group
        .col
          .dropdown-divider
          a.dropdown-item(href="/register") 新來的嗎？ 註冊
  script(src="/js/login.min.js")