extends common/layout

block content
  .app(v-cloak)
    .form-group.row
      div(class="col-3")
        img(v-bind:src='product.link', class="img-fluid")
      div(class="col-2")
        .form-group
          h5 {{product.name}}
          h4(style="color: red;font-weight:bold;") {{product.price | commaFormat}}
        .form-group.form-inline(:class="{error: validation.hasError('amount') | validation.hasError('type')}")
          select.form-control.col(v-model="type", v-if="product.types.length > 0")
            option(v-for="(item,index) in product.types", v-bind:value="item.text") {{item.text}}
          input.form-control.col-2.text-right(type="text", v-model.number="count")
          .message.col-12 {{ validation.firstError('type') }} {{ validation.firstError('amount') }}
        .form-group
          button(class="btn btn-success btn-lg btn-block", @click="buyItem") 放入購物車
    .form-group(v-for="(item,index) in product.images")
      .col
        img(v-bind:src='item.link', class="img-fluid")
    .form-group
      .col
        .markdown(v-html="updateMd")
  script(src="/js/product.min.js")