@import 'common/text';
@import 'common/col';

body {
  padding: 20px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

footer {
  position: fixed;
}

.copyright {
  position: fixed;
  bottom: 0;
  right: 15px;
}

.product-card {
  @include card;
}

.hidden-text-single {
  @include text-hidden(1);
}

.overlay {
  position: fixed; /* Sit on top of the page content */
  display: block; /* Hidden by default */
  width: 100%; /* Full width (cover the whole page) */
  height: 100%; /* Full height (cover the whole page) */
  top: 0; 
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0,0,0,0.5); /* Black background with opacity */
  z-index: 1031; /* Specify a stack order in case you're using a different order for other elements */
  cursor: pointer; /* Add a pointer on hover */
}

.overlay-text{
  position: absolute;
  top: 50%;
  left: 50%;
  font-size: 50px;
  color: white;
  transform: translate(-50%,-50%);
  -ms-transform: translate(-50%,-50%);
}

textarea{
  border:0;
  background-color:transparent;
  scrollbar-arrow-color:yellow;
  scrollbar-base-color:lightsalmon;
  overflow: auto;
  resize: none;
  color: #666464;
  height: auto;
}

.markdown tr {
  border-top: 1px solid #c6cbd1;
  background: #fff;
}

.markdown th,
.markdown td {
  padding: 6px 13px;
  border: 1px solid #dfe2e5;
}

.markdown table tr:nth-child(2n) {
  background: #f6f8fa;
}

.markdown pre {
  border: 1px solid #ccc;
}

.fas[data-count]{
  position:relative;
}

.fas[data-count]:after{
  position: absolute;
  right: -0.75em;
  top: -.75em;
  content: attr(data-count);
  border-radius: 10em;
  line-height: .9em;
  color: white;
  background: rgba(255,0,0,.75);
  text-align: center;
  min-width: 2em;
  font: bold .4em sans-serif;
}

.cart-icon {
  position: fixed;  /*固定在網頁上不隨卷軸移動，若要隨卷軸移動用absolute*/
  top: 70px;  /*設置垂直位置*/
  right: 0px;  /*設置水平位置，依所放的內容多寡需要自行手動調整*/
  padding: 10px;
  z-index: 50;
  color: #00B7FF;
}

.cart-detail {
  position: fixed;  /*固定在網頁上不隨卷軸移動，若要隨卷軸移動用absolute*/
  top: 20%;  /*設置垂直位置*/
  right: -10px;  /*設置水平位置，依所放的內容多寡需要自行手動調整*/
  background: #ffffff;  /*背景顏色*/
  padding: 10px 10px;
  border-radius: 10px;  /*圓角*/
  border:1px solid #69c;
  -moz-border-radius: 10px;
  -webkit-border-radius: 10px;
  width: 10%;
  max-height: 60%;
  overflow: auto;
  -ms-overflow-style: none;
}

.cart-detail::-webkit-scrollbar {
  display: none;
}

.login {
  @include form-w;
  border: 1px solid rgba(0,0,0,.125);
}

.error .message{
  color: red;
}

.error input,
.error select {
  border-color: red;
}

.alert-fixed {
  position:fixed; 
  top: 60px; 
  left: 0px; 
  width: 100%;
  z-index:9999; 
  border-radius:0px;
}

.text-amount {
  color: red;
  font-weight: bold;
}

.action-click {
  cursor: pointer;
}